

.container{

  
    display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap:10px;
   margin-top: 2rem;    
}

.btn{

    width: 40px;
    height: 40px;
}
.card-img-top{
    width: auto;
    height: 200px;
    /* width: 275px;
    height: auto; */

}
.flex-container{
    display: flex;
}
.card{

align-items: center;
}