.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 3rem;

}

.search {

    max-width: 500px;
}

.form-control {
    max-width: 500px;
}

.form-inline {

    justify-content: flex-start;
    /* align-items: center; */

    display: flex;

    justify-content: space-between;
}

input{

    margin-left: 0px;
}


